{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        },
        "modules": false,
        "useBuiltIns": "entry",
        "debug": false
      }
    ]
  ]
}
